@keyframes display-main {
  to {
    height: auto;
  }
}

.main {
  // height: 0px;  
  animation: display-main  0s 3s forwards;
  overflow: hidden;
  height: 0px;
  .main__main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf4f4;
    padding-top: 10px;
    padding-bottom: 40px;
    h2 {
      text-align: center;
    }
    h4 {
      text-align: center;
      font-weight: 300;
    }
    .main-header__button-explore {
      transition: 0.5s;
      width: auto;
      padding: 0px 15px;
      background: linear-gradient(to bottom, #FF79DA, #9356DC);
      border-radius: 50px;
      p {
        color: white;
        // font-weight: bold;
      }
      &:hover {
        scale: 1.1;
        filter: brightness(115%);
        box-shadow: 1px 1px 10px grey;
        transition: ease-in-out 0.5s;
        cursor: pointer;
      }
    }
  }
  .Main__resa-steps {
    h2 {
      padding: 20px;
      padding-top: 30px;
      margin-bottom: 0px;
    }
    .fonctionnement-steps {
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 30px;
    }
    .step {
      transition: 0.5s;
      position: relative;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 35px;
      width: 300px;
      box-shadow: 0 5px 10px 0 #00000050;
      font-weight: bold;
      background-color: #faf4f4;
      border-radius: 25px;
      &:hover {
        scale: 1.1;
        filter: brightness(115%);
        box-shadow: 1px 1px 25px grey;
        transition: ease-in-out 0.5s;
        cursor: pointer;
      }
    }
    span {
      position: absolute;
      left: -19.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38.9833px;
      padding: 15px;
      color: white;
      background-color: #9356DC;
      border-radius: 50px;
    }
    i {
      margin-right: 15px;
      }
    .fastore {
      i{
        color: #9356DC;
      }
    }
  }
  .main__restaurant-container{
    background-color: #F2F2F2;
    padding: 20px;
    .restaurant-container__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .restaurant-container__card {
        transition: 0.5s;
        position: relative;
        width: 340px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0px 0px 17px #00000021;
        border-radius: 20px;
        box-sizing: border-box; /* Pour que padding et le border soient à l'interieur de la div et ne changent pas sa taille*/
        margin-bottom: 20px;
        &:hover {
          scale: 1.07;
          filter: brightness(115%);
          box-shadow: 1px 1px 25px grey;
          transition: ease-in-out 0.5s;
          cursor: pointer;
        }
        .new {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 110px;
          height: 30px;
          position: absolute;
          top: 15px; left: 215px; 
          background-color:#99E2D0;
          p {
            color: rgb(49, 73, 30);
            font-weight: bolder;
          }

        }
        .card__restaurant {
          .img {
            height: 200px;
            object-fit: cover;
          }
          .restaurant__text {
            // text-decoration: none;
            position: relative;
            height: 70px;
            h4, p {
              margin: 10px 20px;
              color: black;
              // text-decoration: none;
              // display: flex;
              // flex-direction: row;
              // justify-content: space-around;
              // margin: 10px 20px;
            }
            .coeur-vide {
              position: absolute;
              right: 33px; 
              top: 20px;
              transform: translate(50%, -50%);
              font-size: 18px;
              color: rgb(20, 20, 20);
              text-align: center;
            }
            .coeur-plein {
              position: absolute;
              right: 34px; 
              top: 20px;
              transform: translate(50%, -50%);
              color: rgb(20, 20, 20);
              text-align: center;
              color:  transparent;
              font-size: 23px;
            }
            .coeur-plein:hover { 
              background-image: linear-gradient(to top, #FF79DA, #9356DC);
              color: linear-gradient(to top, #FF79DA, #9356DC);
              // background-size: 100%;
              // background-repeat: repeat;
              background-clip: text;
              cursor: pointer;
              scale: 1.1;
              transition: 0.3s;
              // -webkit-background-clip: text;
              // -webkit-text-fill-color: transparent; 
              // -moz-background-clip: text;
              // -moz-text-fill-color: transparent;
              // scale: 1.1;
              // box-shadow: 1px 1px 10px grey;
            }
          }
        }
      }
    }
  }
}