.main {
  h2 {
    text-align: center;
    font-size: 30px;
    margin: 0px;
  }
  .main__main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e450;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 150px;
    h4 {
      text-align: center;
      margin-top: 10px;
      font-style: normal;
      // font-weight: 300;
    }
    .desktop_main-header {
          display: flex;
          flex-direction: column;
          // justify-content: center;

    }
    .main-header__button-explore {
      position: absolute;
      bottom: -25px;
      width: auto;
      padding: 0px 15px;
      background: linear-gradient(to bottom, #FF79DA, #9356DC);
      border-radius: 50px;
      p {
        color: white;
        // font-weight: bold;
      }

    }
  }
  .Main__resa-steps {
    h2 {
      // padding: 20px;
      // padding-top: 30px;
      margin-bottom: 30px;
      margin-top: 50px;
      text-align: center;
    }
    .fonctionnement-steps {
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 30px;
    }
    .step {
      position: relative;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0px;
      width: 150px;
      box-shadow: 0 5px 10px 0 #00000050;
      font-weight: bold;
      background-color: #faf4f4;
      border-radius: 25px;
      text-align: center;
    }
    span {
      position: absolute;
      top: -19.2px;
      left: 55.35px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38.9833px;
      padding: 15px;
      color: white;
      background-color: #9356DC;
      border-radius: 50px;
    }

    i {
        display: none;
    }
  }
  .main__restaurant-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    padding: 10px;
    h2 {
      // padding: 20px;
      // padding-top: 30px;
      margin-bottom: 20px;
      text-align: center;
    }
    .restaurant-container__cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 662px; // 662 px Taille de la cate et des marges * 2 pour avoir un tab de 2 cartes 
      // width: 80%;
      // border: 1px solid red;
      .restaurant-container__card {
        width: 290px;
        overflow: hidden;
        background-color: white;
        box-shadow: 0px 0px 17px #00000021;
        border-radius: 20px;
        box-sizing: border-box; /* Pour que padding et le border soient à l'interieur de la div et ne changent pas sa taille*/
        margin: 20px;
        .new {
          position: absolute;
          top: 15px; left: 165px; 
        }
        .img {
        height: 200px;
        object-fit: cover;
        }
        .restaurant__text {
          // text-decoration: none;
          position: relative;
          height: 70px;
          h4, p {
            margin: 10px 20px;
            color: black;
            // text-decoration: none;
            // display: flex;
            // flex-direction: row;
            // justify-content: space-around;
            // margin: 10px 20px;
          }
        }
      }
    }
  }
}