.header {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px 0 #00000050;
    padding: 0px 30px;
    .header__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 62px;
      position: relative;
      h1 {
        margin: 0px;
        font-family: shrikhand;
      }
    }
    .header__find-container {
      width: 15%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      background-color: #F2F2F2;
      i {
        margin-right: 20px;
      }
      p {
      // text-decoration: none !important;
      display: flex;
      flex-direction: column;
      align-content: center;
      }
    }
  }