@media screen and (max-width: 650px){
  @import 'header';
  @import 'main';
  @import 'footer';
  @import 'restaurants/restaurant';
}

@media screen and (min-width: 650px){
  @import 'desktop-header';
  @import 'desktop-main';
  @import 'footer';
}

html {
  // max-width: 650px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Roboto;
  a {
    text-decoration: none;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  }
  
body {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0px;
}
img {
  width: 100%;
}



