@charset "UTF-8";
.header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 62px;
  -webkit-box-shadow: 0 5px 10px 0 #00000050;
          box-shadow: 0 5px 10px 0 #00000050;
  position: relative;
}

.header .header__logo h1 {
  margin: 0px;
  font-family: shrikhand;
}

.header .header__find-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
}

.header .header__find-container i {
  margin-right: 20px;
}

.header .header__find-container p {
  text-decoration: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main .main__main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #faf4f4;
  padding-top: 10px;
  padding-bottom: 40px;
}

.main .main__main-header h2 {
  text-align: center;
}

.main .main__main-header h4 {
  text-align: center;
  font-weight: 300;
}

.main .main__main-header .main-header__button-explore {
  width: auto;
  padding: 0px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 50px;
}

.main .main__main-header .main-header__button-explore p {
  color: white;
}

.main .Main__resa-steps h2 {
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 0px;
}

.main .Main__resa-steps .fonctionnement-steps {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.main .Main__resa-steps .step {
  position: relative;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 35px;
  width: 80%;
  -webkit-box-shadow: 0 5px 10px 0 #00000050;
          box-shadow: 0 5px 10px 0 #00000050;
  font-weight: bold;
  background-color: #faf4f4;
  border-radius: 25px;
}

.main .Main__resa-steps span {
  position: absolute;
  left: -19.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38.9833px;
  padding: 15px;
  color: white;
  background-color: #9356DC;
  border-radius: 50px;
}

.main .Main__resa-steps i {
  margin-right: 15px;
}

.main .Main__resa-steps .fastore i {
  color: #9356DC;
}

.main .main__restaurant-container {
  background-color: #F2F2F2;
  padding: 20px;
}

.main .main__restaurant-container .restaurant-container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card {
  width: 340px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px #00000021;
          box-shadow: 0px 0px 17px #00000021;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Pour que padding et le border soient à l'interieur de la div et ne changent pas sa taille*/
  margin-bottom: 20px;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .img {
  height: 200px;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text {
  position: relative;
  height: 70px;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text h4, .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text p {
  margin: 10px 20px;
  color: black;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text i {
  position: absolute;
  right: 30px;
  top: 20px;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text i :hover {
  color: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.footer {
  background-color: #2e2c2c;
  height: 250px;
}

.footer h2 {
  font-family: shrikhand;
  color: white;
  margin: 0px;
  padding: 30px 20px;
}

.footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.footer .footer__links .footer__links__link {
  margin-bottom: 20px;
  color: white;
}

.footer .footer__links span {
  margin-left: 15px;
}

.footer .footer__links span .first {
  margin-left: 50px;
}

body {
  font-family: comic sans MS;
}

h2 {
  font-family: shrikhand;
}

.bloc-intitule {
  background-color: chartreuse;
}

html {
  max-width: 650px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Roboto;
}

html a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0px;
}

img {
  width: 100%;
}
/*# sourceMappingURL=ohmyfood.css.map */