@charset "UTF-8";
.header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 62px;
  -webkit-box-shadow: 0 5px 10px 0 #00000050;
          box-shadow: 0 5px 10px 0 #00000050;
  position: relative;
}

.header .header__logo h1 {
  margin: 0px;
  font-family: shrikhand;
}

.header .header__find-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F2F2;
}

.header .header__find-container i {
  margin-right: 20px;
}

.header .header__find-container p {
  text-decoration: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

@-webkit-keyframes display-main {
  to {
    height: auto;
  }
}

@keyframes display-main {
  to {
    height: auto;
  }
}

.main {
  -webkit-animation: display-main  0s 3s forwards;
          animation: display-main  0s 3s forwards;
  overflow: hidden;
  height: 0px;
}

.main .main__main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #faf4f4;
  padding-top: 10px;
  padding-bottom: 40px;
}

.main .main__main-header h2 {
  text-align: center;
}

.main .main__main-header h4 {
  text-align: center;
  font-weight: 300;
}

.main .main__main-header .main-header__button-explore {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: auto;
  padding: 0px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 50px;
}

.main .main__main-header .main-header__button-explore p {
  color: white;
}

.main .main__main-header .main-header__button-explore:hover {
  scale: 1.1;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.main .Main__resa-steps h2 {
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 0px;
}

.main .Main__resa-steps .fonctionnement-steps {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.main .Main__resa-steps .step {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 35px;
  width: 300px;
  -webkit-box-shadow: 0 5px 10px 0 #00000050;
          box-shadow: 0 5px 10px 0 #00000050;
  font-weight: bold;
  background-color: #faf4f4;
  border-radius: 25px;
}

.main .Main__resa-steps .step:hover {
  scale: 1.1;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 1px 1px 25px grey;
          box-shadow: 1px 1px 25px grey;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.main .Main__resa-steps span {
  position: absolute;
  left: -19.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38.9833px;
  padding: 15px;
  color: white;
  background-color: #9356DC;
  border-radius: 50px;
}

.main .Main__resa-steps i {
  margin-right: 15px;
}

.main .Main__resa-steps .fastore i {
  color: #9356DC;
}

.main .main__restaurant-container {
  background-color: #F2F2F2;
  padding: 20px;
}

.main .main__restaurant-container .restaurant-container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  width: 340px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 0px 17px #00000021;
          box-shadow: 0px 0px 17px #00000021;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Pour que padding et le border soient à l'interieur de la div et ne changent pas sa taille*/
  margin-bottom: 20px;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card:hover {
  scale: 1.07;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 1px 1px 25px grey;
          box-shadow: 1px 1px 25px grey;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 215px;
  background-color: #99E2D0;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .new p {
  color: #31491e;
  font-weight: bolder;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .card__restaurant .img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .card__restaurant .restaurant__text {
  position: relative;
  height: 70px;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .card__restaurant .restaurant__text h4, .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .card__restaurant .restaurant__text p {
  margin: 10px 20px;
  color: black;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .card__restaurant .restaurant__text .coeur-vide {
  position: absolute;
  right: 30px;
  top: 20px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 22px;
  color: #141414;
  text-align: center;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .card__restaurant .restaurant__text .coeur-plein {
  position: absolute;
  right: 30px;
  top: 19px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #141414;
  text-align: center;
  color: transparent;
  font-size: 26px;
}

.main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .card__restaurant .restaurant__text .coeur-plein:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  cursor: pointer;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.footer {
  background-color: #2e2c2c;
  height: 250px;
}

.footer h2 {
  font-family: shrikhand;
  color: white;
  margin: 0px;
  padding: 30px 20px;
}

.footer .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.footer .footer__links .footer__links__link {
  margin-bottom: 20px;
  color: white;
}

.footer .footer__links .footer__links__link:hover {
  color: #99E2D0;
}

.footer .footer__links span {
  margin-left: 15px;
}

.footer .footer__links span .first {
  margin-left: 50px;
}

body {
  font-family: roboto;
}

.resto-header-smartphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resto-header-smartphone .arrow {
  color: black;
  padding: 20px;
}

.resto-header-smartphone .resto-logo-smartphone {
  width: 80%;
}

.resto-header-smartphone .resto-logo-smartphone h1 {
  text-align: center;
  margin: 0px;
  font-family: shrikhand;
}

.main-restaurants .img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}

.main-restaurants .text-menu {
  position: relative;
  margin-top: -50px;
  margin-bottom: 0px;
  padding: 15px;
  border-radius: 50px 50px 0px 0px;
  background-color: #F2F2F2;
}

.main-restaurants .text-menu .restaurant-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: shrikhand;
  font-size: large;
}

.main-restaurants .text-menu .h2resto {
  margin-bottom: 0px;
}

.main-restaurants .text-menu .coeur-vide, .main-restaurants .text-menu .coeur-plein {
  position: absolute;
  right: 50px;
  top: 50px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 22px;
  color: #141414;
  text-align: center;
}

.main-restaurants .text-menu .coeur-plein {
  color: transparent;
  font-size: 26px;
}

.main-restaurants .text-menu .coeur-plein:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.main-restaurants .text-menu h3 {
  margin-top: 40px;
  font-weight: normal;
}

.main-restaurants .text-menu .underline {
  width: 40px;
  height: 3px;
  margin: -18px 0 12px 0;
  background-color: #99E2D0;
}

.main-restaurants .text-menu .bloc-intitule:hover .valid {
  margin-right: 0px;
}

.main-restaurants .text-menu .bloc-intitule:hover .valid i {
  color: white;
  font-size: xx-large;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.main-restaurants .text-menu .bloc-intitule:hover .text-intitule {
  width: calc(85% - 100px);
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-restaurants .text-menu .bloc-intitule {
  -webkit-animation: appear 6s;
          animation: appear 6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  -webkit-box-shadow: 0 3px 10px 0 #00000020;
          box-shadow: 0 3px 10px 0 #00000020;
  margin: 10px;
  padding: 10px;
  padding-right: 0px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.main-restaurants .text-menu .bloc-intitule:nth-child(3) {
  -webkit-animation: appear 2s;
          animation: appear 2s;
}

.main-restaurants .text-menu .bloc-intitule:nth-child(4) {
  -webkit-animation: appear 3s;
          animation: appear 3s;
}

.main-restaurants .text-menu .bloc-intitule:nth-child(5) {
  -webkit-animation: appear 4s;
          animation: appear 4s;
}

.main-restaurants .text-menu .bloc-intitule:nth-child(6) {
  -webkit-animation: appear 5s;
          animation: appear 5s;
}

.main-restaurants .text-menu .bloc-intitule:nth-child(7) {
  -webkit-animation: appear 6s;
          animation: appear 6s;
}

.main-restaurants .text-menu .bloc-intitule .text-intitule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  width: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-restaurants .text-menu .bloc-intitule .text-intitule .intitule-pp {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-restaurants .text-menu .bloc-intitule .text-intitule .sous-intitule {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-restaurants .text-menu .bloc-intitule .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0px;
  width: 45px;
  font-weight: bold;
}

.main-restaurants .text-menu .bloc-intitule .valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  height: 150%;
  margin-right: -15%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  background: #99E2D0;
  border: 1px solid #99E2D0;
}

.main-restaurants .text-menu .bloc-intitule .valid i {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main-restaurants .pre-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  padding-bottom: 100px;
  background-color: #F2F2F2;
  vertical-align: middle;
}

.main-restaurants .pre-footer .order-button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 200px;
  padding: 0px 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 50px;
}

.main-restaurants .pre-footer .order-button:hover {
  scale: 1.1;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.main-restaurants .pre-footer .order-button p {
  text-align: center;
  margin: 0px;
  padding: 10px;
  color: white;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  h2 {
    padding-left: 30px;
  }
  .menu-parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-parts .bloc-intitule {
    width: 500px;
  }
}

@media screen and (min-width: 1000px) {
  .img {
    height: 500px;
  }
  .text-menu {
    padding: 30px;
  }
  .text-menu .restaurant-name h2 {
    padding-left: 5%;
  }
  .text-menu .menu-parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: auto;
  }
  .text-menu .menu-parts .menu-part h3 {
    padding-left: 15px;
  }
  .text-menu .menu-parts .menu-part .underline {
    margin-left: 15px;
  }
  .text-menu .menu-parts .menu-part .bloc-intitule {
    width: 300px;
  }
  .pre-footer {
    padding-bottom: 0px !important;
    height: 200px !important;
  }
}

@media screen and (min-width: 600px) {
  .main h2 {
    text-align: center;
    font-size: 30px;
    margin: 0px;
  }
  .main .main__main-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e4e4e450;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 150px;
  }
  .main .main__main-header h4 {
    text-align: center;
    margin-top: 10px;
    font-style: normal;
  }
  .main .main__main-header .desktop_main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main__main-header .main-header__button-explore {
    position: absolute;
    bottom: -25px;
    width: auto;
    padding: 0px 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border-radius: 50px;
  }
  .main .main__main-header .main-header__button-explore p {
    color: white;
  }
  .main .Main__resa-steps h2 {
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
  }
  .main .Main__resa-steps .fonctionnement-steps {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .main .Main__resa-steps .step {
    position: relative;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
    width: 150px;
    -webkit-box-shadow: 0 5px 10px 0 #00000050;
            box-shadow: 0 5px 10px 0 #00000050;
    font-weight: bold;
    background-color: #faf4f4;
    border-radius: 25px;
    text-align: center;
  }
  .main .Main__resa-steps span {
    position: absolute;
    top: -19.2px;
    left: 55.35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 38.9833px;
    padding: 15px;
    color: white;
    background-color: #9356DC;
    border-radius: 50px;
  }
  .main .Main__resa-steps i {
    display: none;
  }
  .main .main__restaurant-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F2F2F2;
    padding: 10px;
  }
  .main .main__restaurant-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .main .main__restaurant-container .restaurant-container__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 662px;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card {
    width: 290px;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px #00000021;
            box-shadow: 0px 0px 17px #00000021;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* Pour que padding et le border soient à l'interieur de la div et ne changent pas sa taille*/
    margin: 20px;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .new {
    position: absolute;
    top: 15px;
    left: 165px;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text {
    position: relative;
    height: 70px;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text h4, .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text p {
    margin: 10px 20px;
    color: black;
  }
}

@media screen and (min-width: 1000px) {
  .main .main__main-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e4e4e450;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 150px;
  }
  .main .main__main-header h2 {
    text-align: center;
    font-size: 30px;
    margin: 0px;
  }
  .main .main__main-header h4 {
    text-align: center;
    margin-top: 10px;
    font-style: normal;
  }
  .main .main__main-header .desktop_main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main__main-header .main-header__button-explore {
    position: absolute;
    bottom: -25px;
    width: auto;
    padding: 0px 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border-radius: 50px;
  }
  .main .main__main-header .main-header__button-explore p {
    color: white;
  }
  .main .Main__resa-steps h2 {
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: center;
  }
  .main .Main__resa-steps .fonctionnement-steps {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .main .Main__resa-steps .fonctionnement-steps .step {
    position: relative;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 35px;
    width: 20%;
    -webkit-box-shadow: 0 5px 10px 0 #00000050;
            box-shadow: 0 5px 10px 0 #00000050;
    font-weight: bold;
    background-color: #faf4f4;
    border-radius: 25px;
  }
  .main .Main__resa-steps .fonctionnement-steps .step span {
    position: absolute;
    top: 18px;
    left: -19.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 38.9833px;
    padding: 15px;
    color: white;
    background-color: #9356DC;
    border-radius: 50px;
  }
  .main .Main__resa-steps .fonctionnement-steps .step i {
    margin-right: 15px;
  }
  .main .Main__resa-steps .fonctionnement-steps .step .fastore i {
    color: #9356DC;
  }
  .main .main__restaurant-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F2F2F2;
    padding: 10px;
  }
  .main .main__restaurant-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .main .main__restaurant-container .restaurant-container__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 993px;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card {
    width: 290px;
    overflow: hidden;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px #00000021;
            box-shadow: 0px 0px 17px #00000021;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* Pour que padding et le border soient à l'interieur de la div et ne changent pas sa taille*/
    margin: 20px;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text {
    position: relative;
    height: 70px;
  }
  .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text h4, .main .main__restaurant-container .restaurant-container__cards .restaurant-container__card .restaurant__text p {
    margin: 10px 20px;
    color: black;
  }
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Roboto;
}

html a {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0px;
}

img {
  width: 100%;
}

@-webkit-keyframes hide-loader {
  to {
    height: 0px;
  }
}

@keyframes hide-loader {
  to {
    height: 0px;
  }
}

.loader-container {
  -webkit-animation: hide-loader 0s 3s forwards;
          animation: hide-loader 0s 3s forwards;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.loader-container .loader-logo {
  font-family: shrikhand;
  font-size: x-large;
  margin-right: 2px;
  padding-top: 30px;
}

.loader-container .loader {
  width: 120px;
  height: 140px;
  background-image: url("Maquettes Ohmyfood/images/images_loader/loader.gif");
  background-size: cover;
}
/*# sourceMappingURL=styles.css.map */