// Mode smartphone

@import 'scss/smart-header';
@import 'scss/smart-main';
@import 'scss/footer';
@import 'restaurants/scss/styles';


// Mode tablette
@media screen  and (min-width:700px) {
  @import 'scss/header';
  @import 'scss/tablette-main'; 
  @import 'scss/footer';
}  

// Mode desktop (défaut)
@media screen  and (min-width:1000px) {
  @import 'scss/header';
  @import 'scss/desktop-main';
  @import 'scss/footer';
}




html {
  // max-width: 650px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Roboto;
  a {
    text-decoration: none;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
  
body {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0px;
}

img {
  width: 100%;
}



