// Mode smartphone

@import 'scss/smart-header';
@import 'scss/smart-main';
@import 'scss/footer';
@import 'restaurants/scss/styles';


// Mode tablette
@media screen  and (min-width:600px) {
  @import 'scss/tablette-main'; 
}  

// Mode desktop
@media screen  and (min-width:1000px) {
  @import 'scss/desktop-main';
}




html {
  // max-width: 650px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: Roboto;
  a {
    text-decoration: none;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
  
body {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0px;
}

img {
  width: 100%;
}

@keyframes hide-loader {  
  to {
    height: 0px;
  }
}

.loader-container {
  animation: hide-loader 0s 3s forwards;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .loader-logo {
    font-family: shrikhand;
    font-size: x-large;
    margin-right: 2px;
    padding-top: 30px;
  }
  .loader {
    width: 120px;
    height: 140px;
    // background-image: url("Maquettes_Ohmyfood/images/images_loader/loader.gif");
    background-size: cover;
    // background-size: contain;
  
      animation-duration: 1s;
      animation-name: load-spinner;
      animation-iteration-count: infinite;
  }
  @keyframes load-spinner {
    0% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail8.png");}
    12% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail1.png");}
    25% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail2.png");}
    37% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail3.png");}
    50% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail4.png");}
    62% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail5.png");}
    75% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail6.png");}
    87% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail7.png");}
    100% { background-image: url("Maquettes_Ohmyfood/images/images_loader/loader_cocktail8.png");}
  }
}




